

body {
    background-color: rgb(3, 3, 3);
    margin-right: 15px;
    margin-left: 15px;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media screen and (max-width: 560px){
  body {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px){
  body {
    margin-right: 8px;
    margin-left: 8px;
  }
}

/*マウスストーカー*/

#js-cursor{
  pointer-events: none;
  position: fixed;
  top: -5px; 
  left: -5px;
  width: 10px;
  height: 10px;
  background-color:#ffffff;;
  border-radius: 50%;
  transform: transform 1s ease-out;
  z-index: 10000;
  opacity: 0;
}

#js-mouse {
  pointer-events: none;
  position: fixed;
  top: -15px; 
  left: -15px;
  width: 60px;
  height: 60px;
  transition: transform 1s ease-out;
  z-index: 9999;
  opacity: 0;
}

@media screen and (max-width: 1024px){
  #js-cursor {
    display: none;
  }
  #js-mouse {
    display: none;
  }
}

.mousebg1 {
  background: url(./_images/mouse-1.png) 100% 100% no-repeat;
}

.mousebg2 {
  background: url(./_images/mouse-2.png) 100% 100% no-repeat;
}

.mousebg3 {
  background: url(./_images/mouse-3.png) 100% 100% no-repeat;
}

.mousebg4 {
  background: url(./_images/mouse-4.png) 100% 100% no-repeat;
}

.mousebg4 {
  background: url(./_images/mouse-5.png) 100% 100% no-repeat;
}

/*ローディング画面*/

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: rgb(3, 3, 3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
 
/* ローディングアイコン */

.semipolar-spinner, .semipolar-spinner * {
  box-sizing: border-box;
}

.semipolar-spinner {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.semipolar-spinner .ring {
  border-radius: 50%;
  position: absolute;
  border: calc(65px * 0.05) solid transparent;
  border-top-color: #979e7a;
  border-left-color: #7a8a9e;
  animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
  height: calc(65px - 65px * 0.2 * 0);
  width: calc(65px - 65px * 0.2 * 0);
  top: calc(65px * 0.1 * 0);
  left: calc(65px * 0.1 * 0);
  animation-delay: calc(2000ms * 0.1 * 4);
  z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
  height: calc(65px - 65px * 0.2 * 1);
  width: calc(65px - 65px * 0.2 * 1);
  top: calc(65px * 0.1 * 1);
  left: calc(65px * 0.1 * 1);
  animation-delay: calc(2000ms * 0.1 * 3);
  z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
  height: calc(65px - 65px * 0.2 * 2);
  width: calc(65px - 65px * 0.2 * 2);
  top: calc(65px * 0.1 * 2);
  left: calc(65px * 0.1 * 2);
  animation-delay: calc(2000ms * 0.1 * 2);
  z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
  height: calc(65px - 65px * 0.2 * 3);
  width: calc(65px - 65px * 0.2 * 3);
  top: calc(65px * 0.1 * 3);
  left: calc(65px * 0.1 * 3);
  animation-delay: calc(2000ms * 0.1 * 1);
  z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
  height: calc(65px - 65px * 0.2 * 4);
  width: calc(65px - 65px * 0.2 * 4);
  top: calc(65px * 0.1 * 4);
  left: calc(65px * 0.1 * 4);
  animation-delay: calc(2000ms * 0.1 * 0);
  z-index: 1;
}

@keyframes semipolar-spinner-animation {
  50% {
    transform: rotate(360deg) scale(0.7);
  }
}

/*ここからヘッダー*/

header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 480px){
    .header {
      margin-bottom: 5px
    }
  }

  
  .header-left p {
    font-size: 11px;
    font-weight: 700;
    color: #7a8a9e;
  }

  @media screen and (max-width: 480px){
    .header-left p {
      display: none;
  }
  }

  
  .header-right ul {
    display: flex;
    list-style: none;
  }
  
  .header-right ul li {
    margin-left: 12px;
    font-weight: 700;
    font-size: 11px;
  }
  
  .header-right ul li a {
    text-decoration: none;
    color: #7a8a9e;
  }

  @media screen and (max-width: 480px){
    .header-right ul li a{
      font-size: 11px;
    }
  }

  .header-right ul li a:hover {
    animation: color 10s infinite;
  }

  .header-right ul li i:hover {
    animation: color 10s infinite;
  }

  @keyframes color {
    0% { color: rgba(0, 4, 255, 0.9); }
    25% { color: rgba(255, 0, 0, 0.9); }
    50% { color: rgba(92, 92, 92, 0.9); }
    75% { color: rgba(255, 0, 0, 0.9); }
    100% { color: rgba(0, 4, 255, 0.9); }
  }


/*KV*/

.KV {
  background-color: #272727;
  width: 100%;
  height: 80vh;
  margin-bottom: 50px;
  border-radius: 10px;
}

/*about*/

 .About {
  color: #7a8a9e;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: 700;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22px;
}

.About h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  margin-top: 0px;
}

.About h2 {
  font-size: 12px;
  font-weight: 700;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: px;
  margin-top: 0px;
}

@media screen and (max-width: 560px){
  .About h1{
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 560px){
  .About p{
    font-size: 11px;
    line-height: 20px;
  }

  .About a{
    font-size: 11px;
    line-height: 20px;
  }
}

.profile {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #7a8a9e 1px solid;
}

@media screen and (max-width: 768px){
  .profile {
    display:flex;
    flex-flow: column;
  }
}

.profile-img {
  width: 100%;
}


.profile img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px){
  .profile img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}


.profile-text {
  padding-left: 30px;
}

@media screen and (max-width: 768px){
  .profile-text{
    padding-left: 0px;
  }
}

.profile-text a {
  color: #7a8a9e;
}

.profile-text p :hover{
  animation: color 10s infinite;
}

.SNS {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #7a8a9e 1px solid;
}

.SNS ul{
  display: flex;
  padding-left: 0px;
}

.SNS li{
  font-size: 20px;
  display: flex;
  list-style: none;
  margin-right: 10px;
  color: #7a8a9e;
}

.SNS a {
  color: #7a8a9e;
}

.SNS a :hover{
  animation: color 10s infinite;
}

.SNS p :hover{
  animation: color 10s infinite;
}

.award p :hover{
  animation: color 10s infinite;
}

@keyframes color {
  0% { color: rgba(0, 4, 255, 0.9); }
  25% { color: rgba(255, 0, 0, 0.9); }
  50% { color: rgba(92, 92, 92, 0.9); }
  75% { color: rgba(255, 0, 0, 0.9); }
  100% { color: rgba(0, 4, 255, 0.9); }
}

.award {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #7a8a9e 1px solid;
}

.award a {
  color: #7a8a9e;
}

.writing p :hover{
  animation: color 10s infinite;
}
.writing {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #7a8a9e 1px solid;
}

.writing a {
  color: #7a8a9e;
}

/*ここからグリッド*/  

  .photo-grid {
    margin: auto;
    columns: 4;
    position: relative;
    gap: 10px;
  }

  @media screen and (max-width: 1024px){
    .photo-grid {
      columns: 2;
    }
  }

  @media screen and (max-width: 560px){
    .photo-grid {
      columns: 1;
    }
  }
  
  .photo-grid-item {
    position: relative;
    overflow: hidden;
    border-radius:10px;
    height: auto;
    margin-bottom: 10px;
    padding:0 0px;
    transition: all 0.5s ease-out;
  }

  .photo-grid-item img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  .photo-grid-item video {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  .photo-grid-item h1 {
    color: black;
    position: absolute;
    font-size: 10px;
  }
  
  .photo-grid-item:hover {
    transition: all 0.5s ease-out;
    border-radius: 30px;
    scale: 1.01;
  }

   .photo-grid-item:hover img {
    filter: blur(6px);
    border-radius: 30px;
    scale: 1.1;
  }

  .photo-grid-item:hover video {
    filter: blur(6px);
    border-radius: 30px;
    scale: 1.01;
  }
  
  .photo-caption {
    position: absolute;
    height:  100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    transition: all 1s ease-out;
    width: 100%;
    overflow: scroll;
    border-radius: 10px;
    animation: bg-color 10s infinite;
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 30, 255, 1)  10%, rgb(0, 0, 0) 50%, rgb(255, 54, 181) 70%, rgb(255, 0, 34) 90%,rgba(255, 255, 255, 1));    
  }

  .photo-grid-item:hover .photo-caption {
    opacity: 1;
    border-radius: 20px;
    scale: 1.01;
  }

  .background1 {
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(21, 255, 0)  10%, rgb(0, 0, 0) 50%, rgb(54, 84, 255) 70%, rgb(119, 0, 255) 90%,rgba(255, 255, 255, 1));    
  }
  .background2 {
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(255, 77, 0)  10%, rgb(0, 0, 0) 50%, rgb(74, 54, 255) 70%, rgb(4, 0, 255) 90%,rgba(255, 255, 255, 1));    
  }
  .background3 {
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgb(252, 0, 0) 0%, rgb(255, 183, 0)  10%, rgb(9, 9, 9) 50%, rgb(245, 54, 255) 70%, rgb(106, 0, 255) 90%,rgba(255, 255, 255, 1)); 
  }
  .background4 {
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgb(0, 252, 59) 0%, rgb(77, 251, 181)  10%, rgb(0, 0, 0) 50%, rgb(255, 158, 54) 70%, rgb(255, 0, 166) 90%,rgba(255, 255, 255, 1)); 
  }
  .background5 {
    background-color: #101010 1;
    background-image: linear-gradient(0deg, rgb(134, 124, 124) 0%, rgb(4, 0, 255)  10%, rgb(0, 0, 0) 50%, rgb(148, 149, 122) 70%, rgb(255, 0, 68) 90%,rgb(64, 93, 255)); 
  }

  .photo-caption p {
    color: rgb(253, 253, 253);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 23px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }

  @media screen and (max-width: 560px){
    .photo-caption p{
      font-size: 11px;
      font-weight: 700;
      line-height: 22px;
    }
  }

  .photo-caption p + p {
    margin-top: 5px;
  }

  @media screen and (max-width: 560px){
    .photo-caption p + p {
      margin-top: 5px;
    }
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(108, 108, 108);
  }


/*ここからフッター*/  
  
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  .back-to-top {
    display: inline-block;
    padding: 10px;
    color: #7a8a9e;
    text-decoration: none;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
  }
  
  .back-to-top:hover {
    animation: color 10s infinite;
  }
  
  .back-to-top:focus {
    outline: none;
  }
  
  @media screen and (max-width: 480px) {
    .back-to-top {
      font-size: 11px;
    }
  }
  
  .footer p {
    font-weight: 500;
    font-size: 8px;
    margin: 10px 0 0;
    color: #7a8a9e;
  }
  
  @media screen and (max-width: 480px) {
    .footer p {
      font-size: 7px;
    }
  }